node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

*storybook.log
storybook-static

**/AGENTS.md
**/CLAUDE.md
.agents/*
.claude/*
.codex/*
.github/*
!.github/actions/
!.github/workflows/
!.github/PULL_REQUEST_TEMPLATE.md
.mcp.json
mise.local.toml
